.textContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid black;
  border-radius: 14px;
  align-items: center;
  background-color: #fafafa;
  margin: 0 auto;
  z-index: 999;
  overflow: hidden;
}
.listInfo {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  width: 100%;
}
.listItemInfo {
  border-top: 3px solid rgb(189, 189, 189);
  border-right: 3px solid rgb(189, 189, 189);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7em;
  width: calc(100% / 3);
  padding: 20px 0;
  background-color: rgb(211, 211, 211);
}
.span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(189, 189, 189);
}

.imageUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imageUser img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: black;
}
.nameUser {
  font-weight: 700;
}
.infoUser {
  color: hsl(0, 0%, 55%);
  font-size: 0.8em;
  margin-bottom: 10px;
}
.statsUser {
  font-weight: 700;
}
