.cardFriend {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #0d0d0d;
  border-radius: 10px;
  width: calc(100%-40px) / 4;
  align-items: center;
  padding: 10px;
}

.cardFriend img {
  width: 100px;
  height: 100px;
}
.listFriends {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  margin-top: 40px;
  gap:10px;
}
.active {
  display: inline-block;
  color: #5ca657;
  width: 60px;
  height: 20px;
  font-size: 20px;
}
.offline {
  color: #ff5a55;
  width: 60px;
  height: 20px;
  font-size: 20px;
}
