
.tableTransaction{
    font-size: 20px;
    font-weight:500;
    margin-top: 40px;
    border-collapse: collapse;
    text-transform: capitalize;
   
}
.lineTransaction:not(.trTransaction) {
    width:220px;
    height:50px;
    text-align: center;
   
}
.headTransaction {
    background-color: #2A2A2A;
    color: white;
    height:50px;
    }
    tr:nth-child(even){
        background-color: #2A2A2A;   
    }
    
    tbody tr:nth-child(odd){
        background-color: white;   
    }
    tbody tr:nth-child(even){
        background-color: #D3D3D3;   
    }
    .lineTransaction{
        border: 1px solid black;
    }